html,body{ height:100%;}
#buttons{margin-top:5%;margin-bottom:2%;}
#spacediv{text-align:center;width:100%;height:100%;}
#space{border: 5px solid; background-color: #aaaaaa;}
#statediv{margin-bottom:2%;}