			.face{text-align: center;}
			.image{height:200px; width:200px; background-color: (0,0,0,0);}
			.name{text-align: center;font-size:60px;font-family: STKaiti;margin:20px; }
			.nav{height:40px;width:500px;position:absolute;left:0px;top:0px;background-color:rgba(255,255,255,0.5);border-right:1px solid black;border-bottom:1px solid black;}
			.nava:hover,.nava:active{-webkit-animation:button 0.5s;-webkit-animation-fill-mode:forwards;}
			.nava{text-decoration: none;margin-right: 10px;margin-left: 10px;font-family:"\5FAE\8F6F\96C5\9ED1";font-size:25px;}
			ul{list-style-type:none;margin:0;padding:0;}
			li {display:inline;}
			.ltt{margin-left:50%;font-size:20px;font-family: STKaiti;margin-bottom:20px;}
			.intro{margin-left:5%;font-size:20px;margin-bottom: 100px;}
			.icon{height:20px; width:20px; border-radius:20px; }
			.infoword{font-size:20px;font-family: STKaiti;}
			.introtitleb{background: #f2a7b1;border-bottom-left-radius:100px;border-top-left-radius:100px;}
			.infob1{background: #f0ffff;border-bottom-left-radius:100px;border-top-left-radius:100px;margin-top:0px;margin-bottom:0px;}
			.infob2{background: white;border-bottom-left-radius:100px;border-top-left-radius:100px;margin-top:0px;margin-bottom:0px;}

			@-webkit-keyframes delay{100%{-webkit-transform:rotate(360deg);-webkit-transform-origin: center;}}
			@-webkit-keyframes button{0%{color: black}100%{color: red;}}
    		.pan{margin-top:35%;margin-left:77%;width:300px;height:300px;background-color: (0,0,0,0));-webkit-animation:delay 10s linear 0.9s infinite;}
			.cidao{margin-top:29.5%;margin-left:75%;width:396px;height:180px;background-color: (0,0,0,0));}